example/.idea
example/target
./output/
tools/generate-gh/links.facts
tools/generate-gh/method_calls_graph
tools/generate-gh/method_calls_graph.dot
tools/generate-gh/analysis.*
tools/generate-gh/log.txt
tools/generate-gh/generate-dot/log.txt
tools/generate-gh/output/